{% extends 'layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css"/>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='js/setup-plyr.js') }}"></script>
    <script>
        setupPlyr();
    </script>
{% endblock %}

{% block app_content %}
    <svg class="symbol ">
        <symbol id="play-button" viewBox="0 0 26 26">
            <polygon class="play-btn__svg" points="9.33 6.69 9.33 19.39 19.3 13.04 9.33 6.69"/>
            <path class="play-btn__svg"
                  d="M26,13A13,13,0,1,1,13,0,13,13,0,0,1,26,13ZM13,2.18A10.89,10.89,0,1,0,23.84,13.06,10.89,10.89,0,0,0,13,2.18Z"/>
        </symbol>
    </svg>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9 col-md-push-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Liked Moments</h3>
                    </div>
                    <div class="panel-body">
                        {% if matches %}
                            <table class="styled-table">
                                <tr>
                                    <th>Episode</th>
                                    <th>Listen</th>
                                    <th>Speaker</th>
                                    <th>Timecode</th>
                                    <th>Transcript</th>
                                </tr>
                                {% for match in matches %}
                                    <tr>
                                        <td>
                                            <a href="{{ url_for('episode_bp.view', showTitle=match.Show.title, episodeNumber=match.Episode.episode) }}#tc_{{ match.Transcript.timecode_secs }}">{{ match.Episode.episode }}</a>
                                        </td>
                                        <td>
                                            <button class="player-src"
                                                    data-src="{{ url_for('media_bp.get', show_id=match.Episode.show, episodeNumber=match.Episode.episode) }}#t={{ match.Transcript.timecode_secs }}"
                                                    data-timecode="{{ match.Transcript.timecode_secs }}"
                                                    data-episode="{{ match.Episode.episode }}">
                                                <div class="play-btn">
                                                    <svg width="25" height="25">
                                                        <use xlink:href="#play-button"/>
                                                    </svg>
                                                </div>
                                            </button>
                                        </td>
                                        <td>{{ match.Transcript.speaker }}</td>
                                        <td>{{ match.Transcript.timecode }}</td>
                                        <td>{{ match.Transcript.transcript }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3 col-md-pull-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Play</h3>
                    </div>
                    <div class="panel-body">
                        <div id="player">
                            <audio id="js-player">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
