{% extends 'header-no-nav.html' %}

{% block content %}
    {{ super() }}

<main>
    <div class="logo-heading">
        <h1 style="font-size: 4em;">junkfood.fm</h1>
    </div>
    <div class="logo-links">
        <a href="{{ url_for('auth_bp.login') }}">Login</a>

        <a href="{{ url_for('episode_bp.random') }}">Random episode</a>

    </div>
    <div>
      <form method="post" action="{{ url_for('search_bp.search') }}" accept-charset="UTF-8">
        <div class="form-group">
          <input size=20 type="text" id="search" name="search" class="form-control" placeholder="Simple search..">
        </div>
        <br/>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>
</main>
{%- endblock content %}

