{% extends 'layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='build/ableplayer.min.css') }}" type="text/css"/>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='thirdparty/js.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='build/ableplayer.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block app_content %}

    <p>
        <b>Episode:</b> {{ episode.id }} ({{ episode.date }})<br/>
        <b>Homepage:</b> <a href="{{ episode.homepage }}">Link</a><br/>
        <b>Listen:</b> <a href="{{ episode.media }}">mp3</a><br/>
    </p>

    <div id="transcript" class="able-transcript-area height-override">
        <div class="able-window-toolbar height-override"></div>
        <div class="able-transcript height-override">

            <table class="styled-table">

                <tr>
                    <th>Timecode</th>
                    <th>Speaker</th>
                    <th>Transcript</th>
                </tr>

                {% for t in transcripts %}
                    <tr>
                        <td><span class="able-transcript-seekpoint able-transcript-caption"
                                  data-start="{{ t.timecode_secs }}"><a
                                id="tc_{{ t.timecode_secs }}">{{ t.timecode }}</a></span></td>
                        <td>{{ t.speaker }}</td>
                        <td>
                    <span class="able-transcript-seekpoint able-transcript-caption"
                          data-start="{{ t.timecode_secs }}">{{ t.transcript }}</span>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    <div id="player" class="footer">
        <audio id="audio1" preload="auto" data-able-player data-skin="2020"
               data-transcript-src="transcript" playsinline>
            <source type="audio/mpeg" src="{{ episode.media }}"/>
        </audio>
    </div>

{% endblock %}
