{% extends 'layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css"/>
    <style>

    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <script src="{{ url_for('static', filename='mark/mark.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.js-player')
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const player = new Plyr(document.getElementById('js-player'));
            window.player = player;

            // Bind event listener
            function on(selector, type, callback) {
                document.querySelector(selector).addEventListener(type, callback, false);
            }

            $(document).ready(() => {

                $('.player-src').on('click', function () {

                    src = $(this).data("src");
                    timecode = $(this).data("timecode");
                    episode = $(this).data("episode");

                    player.source = {
                        type: 'audio',
                        title: episode,
                        sources: [
                            {
                                src: src,
                                type: 'audio/mp3',
                            }
                        ],
                    };
                    player.play();
                });
            });
        });
    </script>

{% endblock %}

{% block app_content %}

    <div id="player" class="footer">
        <audio id="js-player">
        </audio>
    </div>

    <p>
        <b>Episode:</b> {{ episode.id }} ({{ episode.date }})<br/>
        <b>Homepage:</b> <a href="{{ episode.homepage }}">Link</a><br/>
        <b>Listen:</b> <a href="{{ episode.media }}">mp3</a><br/>
    </p>

    <div class="transcript">
        <div>

            <table class="styled-table">
                <tr>
                    <th>Timecode</th>
                    <th>Speaker</th>
                    <th>Transcript</th>
                </tr>

                {% for t in transcripts %}
                    <tr>
                        <td>
                            <button class="player-src" data-src="{{ episode.media }}#t={{ t.timecode_secs }}" data-timecode="{{ t.timecode_secs }}" data-episode="{{ episode.id }}">{{ t.timecode }}</button>
{#                            <a id="tc_{{ t.timecode_secs }}">{{ t.timecode }}#}
                        </td>
                        <td>{{ t.speaker }}</td>
                        <td>
                            {{ t.transcript }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
