{% extends 'layout.html' %}

{% block app_content %}

    <div class="form-wrapper">

        <h1>Reset Password</h1>

        <form method="POST" action="">
            {{ form.csrf_token }}

            <p>
            <fieldset class="password">
                {{ form.password.label }}<br>
                {{ form.password }}
                {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>{% endfor %}
                    </ul>
                {% endif %}
            </fieldset>
            </p>

            <p>
            <div class="submit-button">
                {{ form.submit }}
            </div>
            </p>

        </form>
    </div>

{% endblock %}