{% extends 'layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css"/>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='mark/mark.js') }}"></script>
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#search_autocomplete").autocomplete({
                source: function (request, response) {
                    $.getJSON("{{url_for('search_bp.autocomplete')}}", {
                        q: request.term,
                    }, function (data) {
                        response(data.matching_results);
                    });
                },
                minLength: 5,
            });
        })
    </script>

    <script src="{{ url_for('static', filename='js/highlight-transcript.js') }}"></script>
    <script>
        setupHighlightTranscript('{{ search }}');
    </script>
    <script src="{{ url_for('static', filename='js/setup-plyr.js') }}"></script>
    <script>
        setupPlyr();
    </script>


{% endblock %}

{% block app_content %}
    <svg class="symbol ">
        <symbol id="play-button" viewBox="0 0 26 26">
            <polygon class="play-btn__svg" points="9.33 6.69 9.33 19.39 19.3 13.04 9.33 6.69"/>
            <path class="play-btn__svg"
                  d="M26,13A13,13,0,1,1,13,0,13,13,0,0,1,26,13ZM13,2.18A10.89,10.89,0,1,0,23.84,13.06,10.89,10.89,0,0,0,13,2.18Z"/>
        </symbol>
    </svg>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9 col-md-push-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if matches %}
                            <h3 class="panel-title">Search Results</h3>
                        {% else %}
                            <h3 class="panel-title">Search</h3>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        {% if matches %}
                            <table class="styled-table">
                                <tr>
                                    <th>Episode</th>
                                    <th>Listen</th>
                                    <th>Speaker</th>
                                    <th>Timecode</th>
                                    <th>Transcript</th>
                                </tr>
                                {% for match in matches.items %}
                                    <tr>
                                        <td>
                                            <a href="{{ url_for('episode_bp.view', showTitle=match.Show.title,episodeNumber=match.Episode.episode) }}#tc_{{ match.Transcript.timecode_secs }}">{{ match.Episode.episode }}</a>
                                        </td>
                                        <td>
                                            <button class="player-src"
                                                    data-src="{{ url_for('media_bp.get', show_id=match.Episode.show, episodeNumber=match.Episode.episode) }}#t={{ match.Transcript.timecode_secs }}"
                                                    data-timecode="{{ match.Transcript.timecode_secs }}"
                                                    data-episode="{{ match.Episode.number }}">
                                                <div class="play-btn">
                                                    <svg width="25" height="25">
                                                        <use xlink:href="#play-button"/>
                                                    </svg>
                                                </div>
                                            </button>
                                        </td>
                                        <td>{{ match.Transcript.speaker }}</td>
                                        <td>{{ match.Transcript.timecode }}</td>
                                        <td>{{ match.Transcript.transcript }}</td>
                                    </tr>
                                {% endfor %}
                            </table>

                            {% if matches.has_prev %}
                                <a href="{{ url_for('search_bp.search', page=matches.prev_num, search=search) }}">&lt;&lt;
                                    Previous
                                    page</a>
                            {% else %}&lt;&lt; Previous page{% endif %} |
                            {% if matches.has_next %}
                                <a href="{{ url_for('search_bp.search', page=matches.next_num, search=search) }}">Next
                                    page &gt;&gt;</a>
                            {% else %}Next page &gt;&gt;{% endif %}
                        {% else %}
                            <form action="" method="post" novalidate class="form-inline">
                                {{ form.hidden_tag() }}
                                <p>
                                <div class="form-group mx-sm-3 mb-2">
                                    {{ form.search(size=50,class='form-control', placeholder='Search') }}
                                    {{ form.submit(class='btn btn-primary mb-2') }}
                                    {% for error in form.search.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>

                                </p>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3 col-md-pull-9">
            {% if matches %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search Results</h3>
                    </div>
                    <div class="panel-body">
                        Displaying search results for <code>{{ search }}</code>

                        <form action="" method="post" novalidate class="form-inline">
                            {{ form.hidden_tag() }}
                            <p>
                            <div class="form-group mx-sm-3 mb-2">
                                {{ form.search(size=15,class='form-control', placeholder='Search') }}
                                {{ form.submit(class='btn btn-primary mb-2') }}
                                {% for error in form.search.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>

                            </p>
                        </form>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Play</h3>
                    </div>
                    <div class="panel-body">
                        <div id="player">
                            <audio id="js-player">
                            </audio>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search Tips</h3>
                    </div>
                    <div class="panel-body">
                    <ul>
                        <li><b>episode:</b><i>number</i></li>
                        <code>episode:605</code>
                        <li><b>since:</b><i>date</i></li>
                        <code>since:2021-03-01</code>
                        <code>since:2019</code>
                        <li><b>until:</b><i>date</i></li>
                        <code>until:2020-05-05</code>
                        <code>until:2018</code>
                        <li><b>speaker:</b><i>speaker</i></li>
                        <code>speaker:Frank</code>
                        <li><b>show:</b><i>show title</i></li>
                        <code>show:"Film Junk"</code>
                        <li><i>"spoken phrase"</i></li>
                        <code>"cream dream supreme"</code>
                    </ul>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
