{% extends 'layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css"/>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='js/setup-plyr.js') }}"></script>
    <script>
        setupPlyr();
    </script>
{% endblock %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9 col-md-push-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Liked Moments</h3>
                    </div>
                    <div class="panel-body">
                        {% if matches %}
                            <table class="styled-table" width="100%">
                                <tr>
                                    <th>Episode</th>
                                    <th>Listen</th>
                                    <th>Speaker</th>
                                    <th>Timecode</th>
                                    <th>Transcript</th>
                                </tr>
                                {% for match in matches %}
                                    <tr>
                                        <td>
                                            <a href="{{ url_for('episode_bp.view', show_title=match.Show.title, episode_number=match.Episode.episode) }}#tc_{{ match.Transcript.timecode_secs }}">{{ match.Episode.episode }}</a>
                                        </td>
                                        <td>
                                            <button class="player-src"
                                                    data-src="{{ url_for('media_bp.get', show_id=match.Episode.show, episodeNumber=match.Episode.episode) }}#t={{ match.Transcript.timecode_secs }}"
                                                    data-timecode="{{ match.Transcript.timecode_secs }}"
                                                    data-episode="{{ match.Episode.episode }}">
                                                <div class="play-btn">
                                                    <span style="font-size: 2em; color: #aed581;">
                                                        <i class="fas fa-play-circle" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </button>
                                        </td>
                                        <td>{{ match.Transcript.speaker }}</td>
                                        <td>{{ match.Transcript.timecode }}</td>
                                        <td>{{ match.Transcript.transcript }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3 col-md-pull-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Player</h3>
                    </div>
                    <div class="panel-body">
                        <div id="player">
                            <audio id="js-player">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
