{% extends 'layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.7/plyr.css"/>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Available Podcasts</h3>
                    </div>
                    <div class="panel-body">
                    {% if shows is defined and shows|length > 0 %}
                        {% for show_row in shows | batch(3) %}
                        <div class="row">
                            <div class="col-md-12 text-center">
                                {% for show in show_row %}
                                    <div class="col-md-4 with-bottom-margin">
                                        <a href="{{ url_for('episode_bp.show_home', show_title=show.title) }}">
                                            <img src="{{ url_for('static', filename=show.logo) }}" alt="{{ show.title }}" class="rounded-corners"/>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            No shows added yet - check back later!
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
