{% extends 'header.html' %}

{%- block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% block app_content %}
    {% endblock %}

    {%- block footer %}
    <footer class="footer bg-light">
        <b><a href="https://junkfood.fm">JunkFood.fm</a></b> created and maintained by <a href="https://twitter.com/MattBargenquast">Matt Bargenquast</a> | This is a fan-made site. All audio content comes from <a href="https://filmjunk.com">FilmJunk.com</a>.
    </footer>
    {%- endblock footer %}
{%- endblock content %}

